.footer-container {
    height: 542px;
    width: 100%;
    display: flex;
    background-color: #000000;
    color: #FEFEFE;
    
    .footer-content {
        width: 80%;
        display: flex;
        margin: 0 auto;

    }
}